/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: 0;
    z-index: 1;
}


nav ul li:hover {
    border: 2px solid black;
}
nav ul li {
    padding-left: 30px;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

#nav-accueil {
    border: 2px solid black;
    
}

#section-hero {
    background-image: url(../assets/assets/img/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0.5;
}

/* Banniere jaune section styles */
#section-banniere-jaune {
    background-color: #f9bb00;
    text-align: center;
}

#section-banniere-jaune div {
    padding: 20px;
    
}

#section-banniere-jaune img {
    width: 50px;
    height: 50px;
}

/* Propos de nous section styles */
#section-propos-de-nous {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #eeefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    min-height: 40vh;
}

#section-propos-de-nous img {
    align-self: flex-end;
}


/* Contact section styles */
#contact {
    background-image: url(../assets/assets/img/contact-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0.8;
    padding-top: 50px;
    width: 100%;
    box-sizing: border-box;
}




/* animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.in-view {
    opacity: 1;
    transform: translateY(0);
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.text-pop-up-top{-webkit-animation:text-pop-up-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:text-pop-up-top .5s cubic-bezier(.25,.46,.45,.94) both}



 @-webkit-keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}@keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}


/* Responsive styles */
@media (min-width: 1024px) {
    #navbar {
        display: flex;
        justify-content: flex-end;
    }

    #navbar ul {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
    }

    #navbar ul {
        background-color: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #navbar ul li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navbar ul li:hover {
        border: 1px solid black;
    }

    #nav-accueil {
        border: 2px solid black;
    }

    #section-hero {
        opacity: 1;
        display: flex;
        justify-content: bottom;
        align-items: flex-end;
        text-decoration: none;
    }

    #section-hero h2 {
        margin-bottom: 0;
        width: 40%;
        font-size: xx-large;
    }

    #section-banniere-jaune {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    #section-propos-de-nous {
        background-image: url(../assets/assets/img/beans.png);
        background-size: contain;
        background-position: center right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 30vh;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: tomato;
    }

    #contact h2 {
        display: flex;
        justify-content: right;
        align-items: right;
        font-size: x-large;
        width: 100%;
        padding-right: 350px;
    }

    #contenue-contact {
        display: flex;
        justify-content: space-between;
        text-align: flex-end;
        width: 40vw;
        padding: 20px;
    }

    #veggie-reservation {
        display: flex;
        justify-content: space-between;
        text-align: flex-end;
        width: 40vw;
        font-weight: bold;
    }
}